svg {
  margin-bottom: 5px;
}

td {
  span:hover {
    cursor: pointer;
  }
}

.ant-space-item{
  .ant-btn {
    span:hover {
      color: #fff;
    }
  }
}

.ant-modal-body {
  text-align: center;
}

.ant-input-affix-wrapper {
  margin-top: 0 !important;
}

.ant-table-content {
  overflow: scroll;
}
