.add-user-btn {
  background-color: $blue10 !important;
  border-color: $blue10 !important;
}

.submit-btn {
  background-color: $green-6 !important;
  border-color: $green-6 !important;
}

.duplicate-btn {
  background-color: $orange-6 !important;
  border-color: $orange-6 !important;
}