//Fonts
@font-face {
    font-family: 'Rubic-Black';
    src: local('Rubic-Black'),
        url(../assets/fonts/Rubik-Black.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-BlackItalic';
    src: local('Rubik-BlackItalic'),
        url(../assets/fonts/Rubik-BlackItalic.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: local('Rubik-Bold'), url(../assets/fonts/Rubik-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: local('Rubik-Bold'), url(../assets/fonts/Rubik-Bold.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-BoldItalic';
    src: local('Rubik-BoldItalic'),
        url(../assets/fonts/Rubik-BoldItalic.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: local('Rubik-ExtraBold'),
        url(../assets/fonts/Rubik-ExtraBold.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-ExtraBoldItalic';
    src: local('Rubik-ExtraBoldItalic'),
        url(../assets/fonts/Rubik-ExtraBoldItalic.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-Italic';
    src: local('Rubik-Italic'),
        url(../assets/fonts/Rubik-Italic.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-Light';
    src: local('Rubik-Light'),
        url(../assets/fonts/Rubik-Light.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: local('Rubik-Medium'),
        url(../assets/fonts/Rubik-Medium.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-MediumItalic';
    src: local('Rubik-MediumItalic'),
        url(../assets/fonts/Rubik-MediumItalic.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: local('Rubik-Regular'),
        url(../assets/fonts/Rubik-Regular.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: local('Rubik-SemiBold'),
        url(../assets/fonts/Rubik-SemiBold.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik-SemiBoldItalic';
    src: local('Rubik-SemiBoldItalic'),
        url(../assets/fonts/Rubik-SemiBoldItalic.ttf) format('woff');
}

@font-face {
    font-family: 'Mulish-SemiBold';
    src: local('Mulish-SemiBold'),
        url(../assets/fonts/Mulish-SemiBold.ttf) format('woff');
}

@font-face {
    font-family: 'Mulish-Bold';
    src: local('Mulish-Bold'),
        url(../assets/fonts/Mulish-Bold.ttf) format('woff');
}
