//margins
.mt5px {
  margin-top: 5px;
}

.mr5px {
  margin-right: 5px;
}

.mb5px {
  margin-bottom: 5px;
}

.ml5px {
  margin-left: 5px;
}

.mt10px {
  margin-top: 10px;
}

.mr10px {
  margin-right: 10px;
}

.mb10px {
  margin-bottom: 10px;
}

.ml10px {
  margin-left: 10px;
}

.margin-auto {
  margin: auto;
}

//Styles
.width-auto {
  width: auto !important;
}

.text-align-center {
  text-align: center;
}
